/* NOTE TO GRADERS: For responsive design - layout changes as follows: 
(1) navigation stacks on smaller screens, buttons are 'next to each other' on larger views, 
(2) home page/index page --> text in regular block layout on smaller screen, uses grid on larger screens to take up full view. 
(3) About us page: on large screens, "polaroid photos" sit next to each other using grid, on smaller screens they're one under the other using flex
(4) For third layout, used media query to make *gallery* images grayscale and smaller(saves ink!), and removed footer (info (links) not actionable)*/ 

/*.dropdown-toggle[aria-expanded="true"] .caret {
    border-bottom: 4px dashed;
    border-top: none;
}

.dropdown-toggle[aria-expanded="true"] + .dropdown-menu {
    display: block;
}
*/

/*below code for the contact form*/

.video{
	display: inline-block; 
    justify-content: center;

}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 12px;
  line-height: 30px;
}

.container {
  max-width: 400px;
  width: 80%;
  margin: 0 auto;
  position: relative;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
  background: #F9F9F9;
  padding: 25px;
  margin: 150px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #EA3457;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: #43A047;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}








/*below code for the navigation*/
/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.active {
  background-color: #EA3457;
  color: black;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}


* {box-sizing:border-box}

/* Slideshow container */
.slideshow {
  max-width: 1000px;
  position: relative;
  margin: auto;
}



/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 800px) {
  .topnav a {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 800px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}




/*SLIDESHOW*/

/* Hide the images by default */
.slideshowitem {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators 
.dot {
  text-align:center;
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

*/ 

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


input{
	display: block;
	}
input:focus{
	background-color: yellow;
}

/*for lists: formatting*/
/*.icon::before {
    display: inline-block;
    padding: 0 5px;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }

  .circle::before {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 300; 
    content: "\f111"; 
    font-size: 0.5em;
  }

all font awesome CSS styling code taken from fontawesome website and modified
note: google fonts used on all pages*/

h1{
	font-family: 'Noto Sans', sans-serif;
    font-size: 2em;
    margin:1em;
    display: flex; 
    justify-content: center;
}


h2{
	font-family: 'Noto Sans', sans-serif;
    font-size: 1.5em;
    margin:1em;
}

h3{
	font-family: 'Noto Sans', sans-serif;
    font-size: 1.25em;
    margin:1em;
}


.decoratedfooter{
	background-color: white;
	background-image: url("../assets/images/camperwallpaper.png");
	/*camper wallpaper image credit: Andrea Lauren // camper fabrics // andrealaurendesign.com */
}


.current{
	text-transform: uppercase;
	color:#255728;
}


.skip {
        position: absolute;
        top: -1000px;
        left: -1000px;
        height: 1px;
        width: 1px;
        text-align: left;
        overflow: hidden;
    }
    
    a.skip:active, 
    a.skip:focus, 
    a.skip:hover {
        left: 0; 
        top: 0;
        width: auto; 
        height: auto; 
        overflow: visible; 
    }

/* code for lines referring to .skip from https://www.bignerdranch.com/blog/web-accessibility-skip-navigation-links/ */


.figcaption{
	font-family: 'Noto Sans', sans-serif;
    font-size: 0.75em;
}

.gallery{
	display:flex;
	flex-direction: column;
	flex-wrap:wrap;
	margin: auto;
	justify-content: space-around;
	min-height: 40%;
}

.galleryitem{
	display:flex;
	width:90%;
	min-height: 40%;
	justify-content: center;
}



figure{
  width: 100%;
  display: inline-block;
  margin: 10px;
  border: 1px solid #777;
  padding:8px;
  box-sizing: border-box;
}
figure img{
	width: 100%;
}

figure figcaption{
  text-align: center;
  padding: 8px 4px;
}

.iconimg{
	display:block;
	margin-left: auto;
	margin-right: auto;
	width:3em;
}

.personalsection figure {
	border:none;
	max-height: 40%;
	width:auto;
}

/* order and unordered list CSS formatting taken from https://www.w3schools.com/css/css_list.asp */ 

@media screen and (max-width: 600px){


.gallery{
	flex-direction: column;
	flex-wrap:wrap;
	margin: auto;
	justify-content: space-around;
}

.galleryitem{
	width:90%;
}


/* nav li{
	list-style-type: none;
	display: flex;
	border: solid;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: block;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 16px;
	color:#00E7FF;
	background-color: white;
	background-image: url("../assets/images/aluminum.jpg");
} */


footer li{
	display: flex;
	border: none;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 16px;
	color:black;
	background-color: white;
	justify-content: space-between;
}


p{
	font-family: 'Noto Sans', sans-serif;
    font-size: 1em;
    display: inline-block;
    max-width: 90%;
    padding: 1em;
    line-height: 2em;
}


ul {
	position: relative;
	list-style: none;
	margin-left: 1em;
	padding-left: 1.2em;
	font-family: 'Noto Sans', sans-serif;
    font-size: 0.8em;
    margin-bottom: 0.5em;
    max-width:80%;
    padding-bottom: 1.5em;
}

ol{
	position: relative;
	list-style: none;
	margin-left: 1em;
	padding-left: 1.2em;
	font-family: 'Noto Sans', sans-serif;
    font-size: 0.8em;
    margin-bottom: 0.5em;
    max-width:80%;
    padding-bottom: 1.5em;

}

ul li:before {
	position: absolute;
	left: 0;
	margin-left:1em;
    margin-bottom: 0.5em;
    padding-top:0.5em;
    font-family: "Font Awesome 5 Free"; 
    font-weight: 300; 
    /*content: "\f111"; */ 
    font-size: 0.5em;
}

ol li:before {
	position: absolute;
	left: 0;
    margin-bottom: 0.5em;
    font-family: "Font Awesome 5 Free"; 
    font-weight: 300; 
    /*content: "\f111"; */
    font-size: 0.5em;

}

ul li:after{
	padding-bottom: 2em;
}

ol li:after{
	padding-bottom: 2em;
}


}

@media screen and (min-width: 600px) and (max-width: 900px){
.gallery{
	flex-direction: row;
	flex-wrap:wrap;
	margin: auto;
	justify-content: space-around;
}

.galleryitem{
	width:50%;
	align-content: space-between;
}

/* nav li{
	display: inline-flex;
	border: solid;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 16px;
	color:#00E7FF;
	background-color: white;
	background-image: url("../assets/images/aluminum.jpg"); */
}


footer li{
	display: flex;
	border: none;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 16px;
	color:black;
	background-color: white;
	justify-content: space-between;
}


p{
	font-family: 'Noto Sans', sans-serif;
    font-size: 1em;
    display: inline-block;
    max-width: 80%;
    padding: 0.5em;
    line-height: 1.5em;
}


ul {
	position: relative;
	list-style: none;
	margin-left: 1em;
	padding-left: 1.2em;
	font-family: 'Noto Sans', sans-serif;
    font-size: 0.8em;
    margin-bottom: 0.5em;
    max-width:90%;
    padding-bottom: 2em;

}

ol{
	position: relative;
	list-style: none;
	margin-left: 1em;
	padding-left: 1.2em;
	font-family: 'Noto Sans', sans-serif;
    font-size: 0.8em;
    margin-bottom: 0.5em;
    max-width:90%;
    padding-bottom: 2em;
}

ul li:before {
	position: absolute;
	left: 0;
	margin-left:1em;
	padding-left: 1.2em;
    margin-bottom: 0.5em;s
    padding-top:0.5em;
    font-family: "Font Awesome 5 Free"; 
    font-weight: 300; 
    /*content: "\f111"; */
    font-size: 0.5em;
}

ol li:before {
	position: absolute;
	left: 0;
    margin-bottom: 0.5em;
    padding-left: 1.2em;
    font-family: "Font Awesome 5 Free"; 
    font-weight: 300; 
    /*content: "\f111"; */
    font-size: 0.5em;

}

ul li:after{
	padding-bottom: 1.5em;
}

ol li:after{
	padding-bottom: 1.5em;
}

}

@media screen and (min-width: 900px){
.personalsection{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr auto;
	padding:25px;
}

#intro{
	grid-column-start: 1;
	grid-column-end: 3;
}

#den{
	width:100%;
	grid-column-start: 1;
	grid-column-end: 2;
}

#burr{
	width:100%;
	grid-column-start: 2;
	grid-column-end: 3;
}

.qanda{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
}


#christening{
	width:100%;
	grid-column-start: 1;
	grid-column-end: 2;
}
#whyrenovate{
	width:100%;
	grid-column-start: 2;
	grid-column-end: 3;
}
#cost{
	width:100%;
	grid-column-start: 1;
	grid-column-end: 2;
}
#lengthlived{
	width:100%;
	grid-column-start: 2;
	grid-column-end: 3;
}


.gallery{
	flex-direction: row;
	flex-wrap:wrap;
	margin: auto;
	justify-content: space-around;
}

.galleryitem{
	width:33%;
	align-content: space-between;
}


/*nav li{
	display: flex;
	border: solid;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 16px;
	color:#00E7FF;
	background-color: white;
	background-image: url("../assets/images/aluminum.jpg");
}
*/


footer li{
	display: flex;
	border: none;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 16px;
	color:black;
	background-color: white;
	justify-content: space-between;
}


p{
	font-family: 'Noto Sans', sans-serif;
    font-size: 1em;
    display: inline-block;
    max-width: 80%;
    padding: 0.5em;
    line-height: 1.5em;
}

ul {
	position: relative;
	list-style: none;
	margin-left: 1em;
	padding-left: 1.2em;
	font-family: 'Noto Sans', sans-serif;
    font-size: 0.8em;
    margin-bottom: 0.5em;
    max-width:60%;
    padding-bottom: 1em;
}

ol{
	position: relative;
	list-style: none;
	margin-left: 1em;
	padding-left: 1.2em;
	font-family: 'Noto Sans', sans-serif;
    font-size: 0.8em;
    margin-bottom: 0.5em;
    max-width:60%;
    padding-bottom: 1em;
}

ul li:before {
	position: absolute;
	left: 0;
	margin-left:1em;
    margin-bottom: 0.5em;
    padding-top:0.5em;
    font-family: "Font Awesome 5 Free"; 
    font-weight: 300; 
    /*content: "\f111"; */
    font-size: 0.5em;
}

ol li:before {
	position: absolute;
	left: 0;
    margin-bottom: 0.5em;
    font-family: "Font Awesome 5 Free"; 
    font-weight: 300; 
    /*content: "\f111"; */
    font-size: 0.5em;

}


ul li:after{
	padding-bottom: 1em;
}

ol li:after{
	padding-bottom: 1em;
}

}

@media print {
  body {
    /* IE4-8 and 9 */
    filter: Gray();
    /* SVG version for IE10, Chrome 17, FF3.5, Safari 5.2 and Opera 11.6 */
    filter: url('#grayscale'); 
    /* CSS3 filter, at the moment Webkit only. Prefix it for future implementations */
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%); /* future-proof */
    /* code for print grayscale taken from https://stackoverflow.com/questions/17294817/media-queries-color-monochrome-and-printing*/
  }

.gallery{
	display:flex;
	flex-direction: row;
	flex-wrap:wrap;
	margin: auto;
	justify-content: space-around;
}

.galleryitem{
	display:flex;
	max-width:25%;
	height:auto;
}


img{
	/* IE4-8 and 9 */
    filter: Gray();
    /* SVG version for IE10, Chrome 17, FF3.5, Safari 5.2 and Opera 11.6 */
    filter: url('#grayscale'); 
    /* CSS3 filter, at the moment Webkit only. Prefix it for future implementations */
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%); /* future-proof */
    /* code for print grayscale taken from https://stackoverflow.com/questions/17294817/media-queries-color-monochrome-and-printing*/
}

footer li{
	display:none;
}
}
